extends layout

block content

  div(id="root")
  script(src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js")
  script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHPARocaMONV-AC9Ndv-EqJCIdGiLNsl0")
  script(type="text/javascript" src="javascripts/bundle.js")
